.breadcrumb {
	font-size: 16px;
	padding: 38px 0 10px 22px;
}

.fr {
	float: right;
}

.tools button {
	width: 100px;
}

.right-wrap {
	background: #EEF5FD;
	height: 100%;
}

.right-main {
	background-color: #fff;
	height: 100%;
	margin: 0 0 0 20px;
	padding: 20px 0 0 5px;
}